@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.black-background {
  background-color: #27282c;
  color: white;
  transition: background-color 0.5s ease-in-out;
}

.color-change {
  transition: color 0.5s ease-in-out;
}

.white-background .color-change {
  transition: background-color 0.5s ease-in-out;
  color:  #27282c;
}

.black-background .color-change {
  color: white;
}

button {
  position: fixed;
  top: 20px;
  right: 20px;
  margin: 10px;
}

body
{
    transition: background-color 0.5s ease-in-out;
    background-color: white;
    color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	gap: 50px;
}
h1{
    transition: color 0.5s ease-in-out;
	font-weight: 600;
	text-align: center;
	padding: 10px 0px;
}
a
{
position: relative;
background: #fff;
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-size: 1.5em;
letter-spacing: 0.1em;
font-weight: 400;
padding: 10px 30px;
transition:0.5s ;
}
a:hover{
    background: var(--clr);
    color:var(--clr);
	letter-spacing: 0.25em;
	box-shadow: 0 0 35px var(--clr) ;
}
a:before
{
	content: '';
	position: absolute;
	background: #27282e;
	inset: 2px;
}

a span
{
	position: relative;
	z-index: 1;
}