<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERRO</title>
</head>
<body>
<center>
<h1>Erro</h1>
    <h2>Houve um erro, o CNPJ declarado já esta cadastrado</h2>
    <img src="{{ gif_url }}" alt="GIF">
    <button onclick="location.href = 'http://127.0.0.1:5000/';" class="button">Voltar</button>
    </center>
</body>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5eb22cc2a1bad90e54a2109a/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

<script>
let timeoutId;
function resetTimer() {
  clearTimeout(timeoutId);
  timeoutId = setTimeout(logout, 120000);
}
function logout() {
  alert('Você foi desconectado por inatividade');
  window.location.href = 'http://127.0.0.1:5000/index';
}
document.addEventListener('mousemove', resetTimer);
document.addEventListener('mousedown', resetTimer);
document.addEventListener('keypress', resetTimer);
resetTimer();
</script>

</html>