<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>Hoteis</title>

</head>
<body>

<button id="change-background">Mudar fundo</button>

<h1 class="cor">Gerenciamento de Hoteis</h1>
<br>
<br>
<br>
<br>
<a href="{{ url_for('cadastrar')}}" class="cadastrar" style="--clr:#1e9bff"><span>cadastrar hoteis</span></a>
<a href="{{ url_for('lista')}}" class="listar" style="--clr:#1e9bff"><span>listagem de hoteis</span></a>
</body>


<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5eb22cc2a1bad90e54a2109a/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

<script>
const button = document.getElementById('change-background');
const body = document.body;
const h1 = document.getElementsByTagName('h1')[0];

button.addEventListener('click', () => {
  if (body.classList.contains('black-background')) {
    body.classList.remove('black-background');
    body.classList.add('white-background');
  } else {
    body.classList.remove('white-background');
    body.classList.add('black-background');
  }
  h1.classList.toggle('color-change');
});

</script>
</html>